

@charset "utf-8";

.container {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
}

main {
  height: 100svh;
  background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}

input[type="text"] {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  appearance: none;
  -moz-appearance: textfield;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px;
  font-size: 8rem;
  text-align: center;
}

input[type="text"]::placeholder {
  font-size: 2rem; /* Smaller font size for placeholder */
  color: rgba(255, 255, 255, 0.7); /* Optional: lighter color for placeholder */
}